@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #dadada;
    margin: 0;
    font-family: Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    min-width: 500px;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator {
    background-color: white;
    padding: 10px 40px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 360px;
}

#display {
    width: 100%;
    height: 50px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 21px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    width: calc(100% - 10px);
    margin: 5px;
    padding: 5px;
    text-align: right;
    overflow-x: auto;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 15px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d0d0d0;
}

button:active {
    background-color: #c0c0c0;
}

textarea {
    width: 97%;
    margin-top: 10px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button:last-of-type {
    margin-top: 10px;
    background-color: #ff9500;
    color: white;
    margin-left: 5px;
}

button:last-of-type:hover {
    background-color: #dd8102;
}

#projeto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: row;
    color: #CCCCCC;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 2rem;
}
#projeto1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: row;
    color: #CCCCCC;

    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    margin: 0;
    padding: 0;
}

/*começo do dark mode*/

body {
    transition: background-color 0.5s, color 0.5s;
}

.calculator {
    text-align: center;
}
.description-input {
    width: calc(100% - 10px);
    margin: 5px;
    padding: 5px;
    text-align: center;
    resize: vertical;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
body.dark-mode #toggleTheme {
    background-image: url("img/apagada.png");
}
#toggleTheme {
    width: 50px;
    background-image: url("img/acesa.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(0, 0, 0);

}

body.dark-mode .calculator {
    border-color: #000000;
    border: 1.5px solid #d9d9d9;
}

body.dark-mode {
    transition: background-image 0.9s, color 0.9s;
    background-color: #121212;
    color: #ffffff;
    background-image: url('img/3.png'); /* imagem para modo escuro */
}

body {
    transition: background-image 0.9s, color 0.9s;
    background-color: #f0f0f0;
    color: #000000;
    background-image: url('img/4.png'); /* imagem para modo claro */
    background-size: 150%;
}

/*NOVO*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000000;
    margin: 0;
    font-family: Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    min-width: 500px;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}

.nome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding: 2px 23px 2px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.283);
    width: 300px;
}
.calculator {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.131);
  box-shadow: 0 8px 32px 0 rgba(132, 132, 132, 0.109);
  color: #fff;
-webkit-backdrop-filter
: blur( px );
}

#display {
    width:auto;
    height: 30px;
    text-align: left;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    width: calc(101% - 10px);
    margin: 5px;
    padding: 5px;
    text-align: right;
    overflow-x: auto;
    background-color: #ffffffb3;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    margin-left: 10px;
}

button {
    width: 100%;
    border: none;
    background-color: #e0e0e0;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d0d0d0;
}

button:active {
    background-color: #c0c0c0;
}

textarea {
    max-width: 260px;
    max-height: 50px;
    min-width: 260px;
    min-height: 50px;
    margin-top: 5px;
    margin-left: 8px;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: "Poppins", sans-serif;
    text-wrap: wrap;
}

button:last-of-type {
    margin-top: 1px;
    color: white;
    margin-left: 5px;
    font-family: "Poppins", sans-serif;
}

#projeto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: row;
    color: #ffffffbb;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 0;
}
#projeto1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: row;
    color: #ffffffbb;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.calculadora {
    margin-top: 10px;
    color: #ffffffbb;
    font-size: 17px;
}

/*começo do dark mode*/

body {
    transition: background-color 0.5s, color 0.5s;
}

.calculator {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.description-input {
    width: calc(100% - 10px);
    margin: 5px;
    padding: 5px;
    text-align: center;
    resize: vertical;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode #toggleTheme {

}
#toggleTheme {
    width: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0);

}

.calculator .dark-mode  {
    border-color: #000000;
}

body.dark-mode {
    display: flex;
     /* imagem para modo escuro */
}
